<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <form method="post" style="max-width:600px">
        <div class="form-group">
            <label for="cheeseName">Name:</label>
            <input class="form-control" id="cheeseName" type="text" name="cheeseName" />
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
        <br>
        <input type="submit" value="Add Cheese" />
    </form>

</body>
</html>